// FORM =================================================================
.form {
  &__row {}
  &__column {}
  &__line {}
  &__input {}
  &__button {}
  &__error {}
}
// /FORM ================================================================


// BUTTONS ==============================================================
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  text-align: center;

  height: 47px;
  font-weight: 500;
  font-size: 20px;
  line-height: 29 / 20 * 100%;
  background-color: #ff6464;
  color: #fff ;
  border-radius: 2px;
  
  transition: background-color 0.3s ease 0s;

  @media (min-width: 768px) {
    &:hover {
      background-color: #bb4949;
    }

    &:active {
      color: #fff;
    }
  }

  &.fw {
    width: 100%;
  }
}
// /BUTTONS =============================================================


// SELECT ===============================================================
.select {}
// /SELECT ==============================================================
