// HELLO SECTION ========================================================
.hello {
  padding: 38px 0 71px 0;

  @media (max-width: $md1) {
    padding: 0 0 70px 0;
  }

  @media (max-width: $md3) {
    padding: 0 0 60px 0;
  }

  // .hello__container
  &__container {
    display: flex;

    @media (max-width: $md3) {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
    }
  }
  // .hello__content
  &__content {
    padding: 18px 110px 0 0;
    flex: 1 1 auto;
    align-items: flex-start;

    *:last-child {
      margin-bottom: 0;
    }

    @media (max-width: $md1) {
      padding: 18px 50px 0 0;
    }
    
    @media (max-width: $md3) {
      padding: 0 0 0 0;
    }
  }
  // .hello__title
  &__title {
    margin: 0 0 25px 0;

    @media (max-width: $md3) {
      margin: 0 0 20px 0;
    }
  }
  // .hello__text
  &__text {
    margin: 0 0 35px 0;

    @media (max-width: $md3) {
      margin: 0 0 25px 0;
      padding: 0 15px 0 15px;
    }
  }
  // .hello__btn
  &__btn {
    margin: 0 0 25px 0;

    @media (max-width: $md3) {
      margin: 0 0 20px 0;
    }
  }
  // .hello__avatar
  &__avatar {
    flex: 0 0 243px;
    width: 243px;
    height: 243px;

    border-radius: 50%;
    overflow: hidden;
    box-shadow: -5px 13px 0 0 #edf7fa;

    @media (max-width: $md3) {
      flex: 0 0 170px;
      width: 170px;
      height: 170px;
      margin: 0 0 40px 0;
    }
  }
}
// /HELLO SECTION =======================================================

// RESENT-POSTS SECTION =================================================
.recent-posts {
  background-color: #edf7fa;
  padding: 25px 0 13px 0;

  @media (max-width: $md3) {
    padding: 25px 0 23px 0;
  }

  // .recent-posts__container
  &__container {}

  // .recent-posts__header
  &__header {
    display: flex;
    margin: 0 0 20px 0;
  }

  // .recent-posts__title
  &__title {
    padding: 0 20px 0 0;
    flex: 1 1 auto;
  }

  // .recent-posts__view-all
  &__view-all {
    flex: 0 0 auto;
    font-size: 16px;
    line-height: 23 / 16 * 100%;
    color: #00a8cc;

    @media (max-width: $md3) {
      display: none;
    }
  }

  // .recent-posts__items
  &__items {
    margin: 0px -10px;

    @media (min-width: $md3) {
      display: flex;
    }
  }

  // .recent-posts__column
  &__column {
    flex: 0 1 50%;
    padding: 0px 10px;
    margin: 0 0 17px 0;
  }

  // .recent-posts__item
  &__item {}
}
.recent-post {
  height: 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;

  *:last-child {
    margin-bottom: 0;
  }

  @media (max-width: $md3) {
    padding: 15px;
  }

  // .recent-post__title
  &__title {
    display: inline-block;
    margin: 0 0 17px 0;
    color: inherit;
    font-size: 26px;
    font-weight: 700;
    line-height: 38 / 26 * 100%;

    transition: color 0.3s ease 0s;

    @media (min-width: $md3) {
      &:hover {
        color: #ff6464;
      }
    }

    @media (max-width: $md3) {
      font-size: 22px;
      margin: 0 0 10px 0;
    }
  }

  // .recent-post__info
  &__info {
    margin: 0 0 15px 0;
    font-size: 18px;
    line-height: 26 / 18 * 100%;

    span {
      margin: 0 10px
    }

    @media (max-width: $md3) {
      font-size: 16px;
      margin: 0 0 10px 0;
    }
  }

  //.recent-post__text
  &__text {
    margin: 0 0 15px 0;
  }
}
// /RESENT-POSTS SECTION ================================================

// FEATURED_WORKS SECTION ===============================================
.featured-works {
  padding: 30px 0 80px 0;
  
  @media (max-width: $md3) {
    padding: 30px 0 30px 0;
  }

  // .featured-works__container
  &__container {}

  // .featured-works__title
  &__title {
    margin: 0 0 20px 0;
  }

  // .featured-works__item
  &__items {
    @media (max-width: $md3) {
      display: flex;
      overflow: auto;
    }

    .works__item {
      @media (max-width: $md3) {
        flex: 0 0 90%;
        margin: 0 15px 0 0;
      }
    }
  }
}
// /FEATURED_WORKS SECTION ==============================================

//=======================================================================
